.about-flex {
    display: flex;
    width: 80vw;
    height: 100%;
}

.about-left {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img-container {
    background-image: url('img/about\ me.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 40px;
    width: 400px;
    height: 400px;
}

.about-right {
    margin: 5vh 40px;
    display: flex;
    flex-direction: column;
}

.about-title {
    height: 30%;
}

.about-h2 {
    color: grey;
    font-size: 15px;
}

.about-h1 {
    font-size: 60px;
}

.about-underline {
    margin-top: -5px;
    background-color: white;
    height: 4px;
    width: 100px;
}

.about-desc {
    height: 50%;
}

.about-info-title {
    color: grey;
    font-weight: bold;
}

.about-info {
    margin: 0.5vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-info table {
    margin-top: 20px;
    width: 40vw;
    border: solid 1px white;
    border-radius: 20px;
    height: 12vh;
    padding: 10px 20px;
}

.about-info tr {
    height: 50%;
}

.about-but {
    height: 20%;
    display: flex;
    align-items: flex-start;
}

.dlcv {
    text-align: center;
}