html{
    background-color: #0D0D0D;
}
.hidden{
    visibility: hidden;
    position: absolute;
}

.fondu-in{
    animation: fondu-in .2s ease-in;
}
@keyframes fondu-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.body{
    color: white;
    font-family: 'bpg_glahoregular';
    display : flex;
    flex-direction: column; 
}
 /*  -------- HEADER --------*/

.b-header{
    height: 15vh;
    display: flex;
    align-items: center;
    font-family: 'bpg_glahobold';
}
.b-header-left{
    width: 50vw;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-size: x-large;
    letter-spacing: 2px;
}
.b-header-right{
    display: flex;
    justify-content: center;
    width: 50vw;
}
.b-header-right div{
    margin: 20px;
}
 /*  -------- CONTENT --------*/
.b-content{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-content-title-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.b-content-title-section h1{
    font-size: 80px;
    font-family: 'bpg_glahobold';
}
.b-content-title-section p{
    width: 30vw;
    text-align: center;
    color: grey;
}
.b-content-title-section .button{
    margin-top: 20px;
    padding: 10px 20px;
    border: white 2px solid;
    border-radius: 5%;
}

 /*  -------- FOOTER --------*/

.b-footer{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.b-footer-icons{
    display: flex;
    /* border: tomato 1px solid; */
}
.b-footer-icons img{
    margin: 20px;
    width: 30px;
}
