html {
    background-color: #0D0D0D;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.fondu-in {
    animation: fondu-in .2s ease-in;
}

@keyframes fondu-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.body {
    color: white;
    font-family: 'bpg_glahoregular';
    display: flex;
    flex-direction: column;
}


/*  -------- HEADER --------*/

.b-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    font-family: 'bpg_glahobold';
}

.b-header-left {
    width: 50vw;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-size: x-large;
    letter-spacing: 2px;
}

.b-header-right {
    display: flex;
    justify-content: center;
    width: 50vw;
}

.underline {
    position: absolute;
    height: 2px;
    width: 20px;
    left: 0px;
    top: 0px;
    /* // top : height + top   */
    background-color: white;
    transition: .2s ease-in;
}

.underlined {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* 
.underlined::after {
    content: "";
    width: 20px;
    padding-top: 2px;
    border-bottom: 2px solid white;
    transform: translateX(var(--percent-translate));
} */

.b-header-right div {
    margin: 20px;
}


/*  -------- CONTENT --------*/

.b-content-section {
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 100vw;
}

#maincontent {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    transition: .2s;
}

.slide-right {
    left: -100vw !important;
}

#slidecontent {
    position: absolute;
    top: 15vh;
    left: 100vw;
    width: 100%;
    transition: .2s;
}

.slide-left {
    left: 0 !important;
}

.b-content {
    /* z-index: 10; */
    height: 100%;
    display: flex;
    justify-content: center;
}

.b-content-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.b-content-title-section h1 {
    margin-top: 80px;
    font-size: 80px;
    font-family: 'bpg_glahobold';
}

.b-content-title-section p {
    width: 30vw;
    text-align: center;
    color: grey;
}

.b-content-title-section .button {
    margin-top: 20px;
    padding: 10px 20px;
    border: white 2px solid;
    border-radius: 5%;
}


/*  -------- FOOTER --------*/

.b-footer {
    position: absolute;
    top: 85vh;
    left: 0;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-footer-icons {
    display: flex;
    /* border: tomato 1px solid; */
}

.b-footer-icons img {
    margin: 20px;
    width: 30px;
}